<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumb">
    <section *ngIf="breadcrumb[breadcrumb.length-1].label !== 'Home'" class="py-2 mb-3" style="margin-top: 105px; background-color: #2a2a2a;">
    <div class="container">
        <div class="row d-flex align-item-center">
            <div class="col-9">
                <h1>{{breadcrumb[breadcrumb.length-1].label | titlecase}}</h1>
            </div>
            <div class="col-3">
                <xng-breadcrumb>
                    <ng-container *xngBreadcrumbItem="let breadcrumb">
                        <div style="color: cornflowerblue;">
                            {{breadcrumb | titlecase}}
                        </div>
                    </ng-container>
                </xng-breadcrumb>
            </div>
        </div>
    </div></section>
</ng-container>